/* Обнуление стилей */
*
  margin: 0
  padding: 0
  border: 0
  box-sizing: border-box

*::before, *::after
  box-sizing: border-box

  *:focus
    outline: none

  *:active
    outline: none
a
  text-decoration: none

  &:focus, &:active
    outline: none

  &:hover
    text-decoration: none

ul
  li
    list-style: none

img
  vertical-align: top

h1, h2, h3, h4, h5, h6
  font-size: inherit
  font-weight: 400

nav, footer, header, aside
  display: block


html
  background-color: gray


body
  font-family: Arial, sans-serif
  color: #333
  display: flex
  align-items: center
  justify-content: center
  height: 100vh

.error-page
  justify-content: space-between
  text-align: center
  padding: 20px
  border-radius: 18px
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1)
  background-color: #333
  h1
    font-size: 120px
    color: red
    margin: 0
    font-weight: 700

  h2
    font-size: 30px
    margin-top: 10px
    margin-bottom: 10px
    color: white
  p
    font-size: 18px
    color: white
  .btn
    display: inline-block
    margin-top: 20px
    padding: 10px 20px
    font-size: 16px
    color: #fff
    background-color: #ff6b6b
    text-decoration: none
    border-radius: 4px
    transition: background-color 0.3s
    &:hover
      background-color: green

