<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Страница не найдена</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main(404).css') }}">
</head>
<body>
    <div class="error-page">
        <h1>404</h1>
        <h2>Извините, мы еще не доделали эту страницу</h2>
        <p>Кажется, вы перешли по несуществующему URL. Но не переживайте, мы скоро все исправим!</p>
        <a href="/" class="btn">Вернуться на главную</a>
    </div>
</body>
</html>