{% extends 'base.j2' %}

{% block title %}
    {% if title %}
    <h1 class="text-center">{{ title }}</h1>
    {% else %}
    <h1 class="text-center">Потеряли Заголовок</h1>
    {% endif %}
{% endblock title %}

{% block songs %}
    <ul class="list-group">
    <div class="justify-content-between align-items-center d-flex">
        <span>Название</span>
        <span>Исполнитель</span>
        <span>Альбом</span>
        <span>Длительность</span>
    </div>
        {% for i in songs %}
        <li class="list-group-item d-flex justify-content-between align-items-center">
            <span> {{ i['name'] }} </span>
            <span> {{ i['artist'] }}</span>
            <span> {{ i['album'] }}</span>
            <span class="badge bg-primary rounded-pill">{{ i['duration'] }}</span>
        </li>
        {% endfor %}
    </ul>
{% endblock %}




