{% extends 'main.j2' %}

{% block page_title %} Регистрация {% endblock %}

{% block main_title %} Регистрация {% endblock %}

{% block style_file %} {{ url_for('static', filename='css/main(register).css') }}{% endblock %}

{% block content %}
    {% for ctg, msg in get_flashed_messages(True) %}
    <div class="flash_message {{ ctg }}">{{ msg }}</div>
    {% endfor %}
<form action="/register" method="post">
    <label for="username">Имя пользователя:</label>
    <input type="text" id="username" name="username" required>

    <label for="password">Пароль:</label>
    <input type="password" id="password" name="password" required>

    <label for="confirm-password">Подтверждение пароля:</label>
    <input type="password" id="confirm-password" name="confirm_password" required>

    <button type="submit">Зарегистрироваться</button>
</form>
{% endblock %}